.select{
    width: 195px;
    height: 45px;
    border: 2px solid lightgray;
    border-radius: 13px;
    border-color:lightgrey;
    margin-bottom: 20px;
    box-shadow: 0 8px 8px -4px lightblue;
}

.plabel{
    margin-top: 10px;
    margin-left: 5px;
}

.h1 {
    text-align: center;
}

.h2 {
    text-align: center;
}
.h3 {
    text-align: center;
}



